.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

button {
  cursor: pointer;
}

.addPostsForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.formContainer {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.formContainer label {
  font-weight: bold;
}

.formContainer input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.formContainer .cancelButton {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.formContainer .postButton {
  margin-top: 10px;
  cursor: pointer;
  padding: 10px;
  width: 250px;
}
