.postContainer {
  border: 1px solid black;
  width: 100%;
  max-width: 490px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 0 auto;
  box-sizing: border-box;
}

.postImage {
  border: 1px solid black;
  border-radius: 50%;
  width: 150px;
  max-width: 100%;
}

.title {
  font-size: 30px;
  margin-bottom: 20px;
}

.content {
  margin-bottom: 50px;
}

.comment {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.buttonContainer {
  display: flex;
  gap: 10px;
}

.buttonContainer button {
  border-radius: 50px;
  padding: 10px;
  margin-bottom: 10px;
  width: 150px;
  border: 1px solid black;
  cursor: pointer;
}

@media (max-width: 400px) {
  .postContainer {
    max-width: 100%;
  }

  .postImage {
    width: 100px;
  }

  .title {
    font-size: 20px;
  }

  .buttonContainer button {
    padding: 6px;
    width: 100px;
  }

  .buttonContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}
